
<nav>
  <ul>
    <li>
      <a href="https://github.com/bemin-shaker/" target="_blank">
        <span class="github-handle">@bemin-shaker</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
        <div class="vl"></div>
      </a>
    </li>

  </ul>
</nav>

<div class="connect-button">
  <a href="https://www.linkedin.com/in/beminshaker/" target="_blank"><span>Connect</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 transition-all"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg></a>
</div>
<div class="img-container"><img src="../assets/profile2.png" height="200px" >
</div>

<div class="main-content">
  <div class="jumbotron">
    <div  class="heading">
    <h5 id="hi-title" data-aos="fade-up" data-aos-duration="300" data-aos-once="true"  data-aos-delay="500">Hi, my name is</h5>
    <div data-aos="fade-up" data-aos-duration="600" data-aos-once="true" data-aos-delay="600">
      <h1>Bemin Shaker.</h1>
    </div>
    <div data-aos="fade-up" data-aos-duration="800" data-aos-once="true"  data-aos-delay="700">
      <h1 class="aspire">
        <a  href="" class="typewrite" data-period="2000" data-type='[ "I am a software engineer.", "I love to code.", "I enjoy bringing ideas to life.", "I build things for the web.", "I also love to automate processes."]'>
          <span class="wrap"  ></span>
        </a>
      </h1>
    </div>
    <div data-aos="fade-up" data-aos-duration="800" data-aos-once="true"  data-aos-delay="600">
      <a href="./assets/resume.pdf" target="_blank" >
        <button id='view-resume-btn' type="button" class="btn btn-outline-dark">View Resume</button>
      </a>
    </div>
   

  </div>
 
  </div>
    <div class="footer">  
      <h6 class="footerText">© 2023 | Bemin Shaker</h6>
    </div>
</div>

          

<router-outlet></router-outlet>
